* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

ul {
    display: flex;

}

li {
    list-style: none;
    text-align: center;
    display: inline-block;
    margin-left: 10%;
}

a:link {
    text-decoration: none;
    display: inline-block
  }
  
  a:visited {
    color: #fff;
  }
  
  a:hover {
    color: #B479D4;
    -webkit-transform: scale(1.5);
    transform: scale(1.3);
  }
  
  a:active {
    color: #B479D4;
  } 

.container {
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    
}

.col-50 {
    width: 50%;
}

.navbar {
    background-color: #61b2e2;
    color: #fff;
    min-height: 8vh;
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.logo span {
    color: #B479D4;
}

/* main */
.hero {
    min-height: 90vh;
    background-image: url("assets/img/hero-image.jpg");
    background-color: #92caeb;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-form {
    background-color: rgba(255,255,255, 0.9);
    width: 30%;
    padding: 1.5rem;
    margin: 5rem auto;
}

.hero-form p {
    margin: 1rem 0;
}

form input {
    display: block;
    width: 100%;
    height: calc(1.5rem + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: 0.5rem;
}

form button {
    background-color: #131c27;
    border-color: #131c27;
    font-weight: 400;
    text-align: center;
    color: white;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    width: 100%;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
}

form button:hover {
    background-color: #1c2a3a;
}
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.hero-content h1 {
    color: #B479D4;
    font-weight: 700;
}

.hero-content span {
    color: #fff;
}

/* footer */
.all {
    text-align: center;
    min-height: 8vh;
    background-color: #61b2e2;
}
.redes-content {
    display: inline-block;
    margin-top: 15px;
}

@media (min-width: 280px) and (max-width: 1023px) {
    .row {
        flex-direction: column;
    }
    .col {
        width: 100%;
    }
    .logo {
        text-align: center;
        margin: 1rem;
    }
    .navbar ul {
        margin-bottom: 1rem;
    }
    .container {
        width: 80%;
    }
    .hero-form {
        order: 1;
    }
    .hero-content {
        order: 0;
        margin-top: 2rem;
    }
}

@media (min-width: 280px) and (max-width: 480px) {
    .hero-content h1 {
        font-size: 1rem;
    }
    .hero-content h2 {
        font-size: 1.5rem;
    }
}